body {
  background-color: #16496c;
}
.container {
  background-color: white;
  padding: 1rem 3rem;
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 2px 2px 4px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10px;
}
#btn {
  padding: 10px 14px;
  background-color: blue;
}
#select-box {
  max-width: 200px;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
}
#image {
  width: 200px;
}

#dog-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}
#dog-container .dog-item {
  width: 130px;
  height: 130px;
  padding: 10px;
  object-fit: contain;
}
